body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    height: 100 vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.col-md-5{
  margin-top: 100px !important; 
  background-color: white;
}
input{
  margin-top: 20px !important;
}
button{
  margin-top: 2+0px !important;
}
p{
  font-size: 10px !important;
  color: red;
  
}
input{
  border-width: 2px !important;
}